[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./host.py

# Name of the bot in-game
name = Host

[Bot Parameters]
# The IP address of the host machine
ip = 127.0.0.1

# The port of the host machine that should be used
port = 5555